.edacs-dashboard {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.edacs-right-panel {
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow: hidden;
    position: relative;
    border-left: 1px solid var(--border);
}

.edacs-right-panel .edacs-matrix-panel {
    border-left: none; /* remove nested border */
}
